body {
    /* 
        The image from unsplash by - Lily Banse
        https://unsplash.com/photos/-YHSwy6uqvk 
    */
    background-image: url("../images/food-bg.jpg");
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {

}

.home-content img {
    display: block;
    margin: 20px 0 auto;
    width: 250px;
    height: 300px;
    opacity: 0.75;
}

.home-content h1 {
    font-size: 55px;
    font-weight: 700;
}

.home-content p {
    color: #fff176;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: 0; 
    bottom: 0;
    width: 100%;
}