body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

nav #logo {
    font-size: 20px;
    margin-left: 10px;
    font-style: italic;
    font-weight: 600;
}

/* Home page styling */
.home-content{
    /* 
        The image from unsplash by - Lily Banse
        https://unsplash.com/photos/-YHSwy6uqvk 
    */
    background-image: url("../images/food-bg.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-content img {
    display: block;
    margin: 20px 0 auto;
    width: 250px;
    height: 300px;
    opacity: 0.75;
}
.home-content h1 {
    font-size: 55px;
    font-weight: 700;
}
.home-content p {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Styling for recipe.html */
#recipe-card-name {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}

/* Styling for recipes page */
.recipes-content .food-img {
    height: 180px;
    cursor: default;
}

/* Add recipe page styling */
#add_prep_step, .delete_step {
    float: right;
}
#recipe-form label {
    font-size: 16px;
}
#recipe-form button {
    margin-right: 100px;
}

/* Styling for product_page */
#page-title {
    font-size: 45px;
    font-weight: 700;
}
.product-content #publication{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #455a64;
    font-size: 20px;
    font-weight: 600;
}
#publication .author{
    padding-right: 6px;
    
}
#publication .date{
    padding-left: 5px;
}
.product-content hr {
    border: 3px solid #fff;
}
#product-ingredients h4, #product-instructions h4{
    text-transform: uppercase;
}
#product-ingredients li{
    list-style-type: none;
    margin-bottom: 10px;
}
.product-content .stats{
    display: block;
}
.product-content .stats b{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

/* styling for footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}