body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

nav {

}

/* Home page styling */
.home-content{
    /* 
        The image from unsplash by - Lily Banse
        https://unsplash.com/photos/-YHSwy6uqvk 
    */
    background-image: url("../images/food-bg.jpg");
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-content img {
    display: block;
    margin: 20px 0 auto;
    width: 250px;
    height: 300px;
    opacity: 0.75;
}
.home-content h1 {
    font-size: 55px;
    font-weight: 700;
}
.home-content p {
    color: #fff176;
    font-size: 20px;
}

/* Styling for recipes page */
.recipes-content .food-img {
    height: 180px;
    cursor: default;
}

/* Add recipe page styling */
#add_prep_step, .delete_step {
    float: right;
}
#recipe-form label {
    font-size: 16px;
}
#recipe-form button {
    margin-right: 100px;
}

/* styling for footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: #fff;
}