{% extends "base.html" %}
{% block content %} 
<main class="add-recipe-wrapper">
    <div class="row container">
        <h2 id="page-title" class="center-align pink-text text-darken-4">Add A Recipe</h2>
        <form class="col s12" id="add-recipe-form" action="{{ url_for('add_recipe') }}" method="POST">
            <div class="row">
                <div class="col s12 m6">
                    <label for="recipe_name">Recipe Name</label>
                    <input class="validate" type="text" id="recipe_name" name="recipe_name" required>
                </div>
                <div class="col s12 m6">
                    <label for="category">Category</label>
                    <select class="browser-default" id="category"  name="category" required>
                        <option value="" disabled selected>Choose your option</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <label for="img_url">Image URL</label>
                    <input class="validate" type="text" id="img_url" name="img_url" required>
                </div>
                <div class="col s12 m6">
                    <label for="author">Author</label>
                    <input class="validate" type="text" id="author" name="author" value="{{ session.user }}" required>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <label for="prep_time">Prep Time (minutes)</label>
                    <input class="validate" type="number" id="prep_time" name="prep_time" min="0" required>
                </div>
                <div class="col s12 m6">
                    <label for="cook_time">Cook Time (minutes)</label>
                    <input class="validate" type="number" id="cook_time" name="cook_time" min="0" required>
                </div>
            </div>

            <div class="row"> 
                <div class="col s12">
                    <label for="servings">Yield (quantity of servings)<span></span></label>
                    <input class="validate" type="number" id="servings" name="servings" min="1" required>
                </div>
                <div class="col s12">
                    <label for="description">Description (optional)<span></span></label>
                    <textarea id="description" name="description" class="materialize-textarea"></textarea>
                </div>
                <div class="col s12">
                    <label for="ingredients">Ingredients (Separate each ingredient by line with the "enter" key) <span></span></label>
                    <textarea id="ingredients" name="ingredients" class="validate materialize-textarea" required></textarea>
                </div>

                <div class="col s12">
                    <label for="prep">Preparation steps (Add new lines for each step)</label>
                    <a id="add_prep_step" class="btn-floating btn-small waves-effect green tooltipped" data-position="top" data-tooltip="Add another step"><i class="material-icons">add</i></a>
                    <textarea  id="prep" name="prep" class="validate materialize-textarea" required></textarea>
                </div>
            </div>
            
            <button class="btn waves-effect waves-light yellow darken-4  pulse" type="submit" name="submit">Submit
                <i class="material-icons right">send</i>
            </button>
                    
        </form>
    </div>
</main>
{% endblock %}