{% extends "base.html" %}
{% block content %}
<main class="home-content white-text">
    <div class="row container">
        <div class="col s6">
            <h1 class="">Welcome Fellow Food Lovers!</h1>
            <p>
                Come share and let's enjoy some hearty meals together
                <i class="material-icons">thumb_up</i>
            </p>
            <a href="{{ url_for('get_recipes') }}" class="btn-floating btn-large yellow darken-4 pulse "><i class="material-icons">send</i></a>
        </div>
        <div class="col s6">
            <!-- 
                image was obtained from google images
                https://images-na.ssl-images-amazon.com/images/I/412LgFkP8pL.jpg 
            -->
            <img src="{{ url_for('static', filename='images/food-banner.jpg') }}" alt="Landing page food image">
        </div>
    </div>
</main>
{% endblock %}