{% extends "base.html" %}
{% block content %} 
<main class="login-content container">

    <div class="row">
        <h2 id="page-title" class="center-align pink-text text-darken-4">Sign In To Your Account</h2>
        <form class="col s12" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- username field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix yellow-text text-darken-4">account_circle</i>
                        <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix yellow-text text-darken-4">security</i>
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="username">Password</label>
                    </div>
                </div>
                <!-- Login button -->
                <div class="row">
                    <button type="submit" class="col s12 waves-effect waves-light btn-large yellow darken-4" >
                        Login
                        <i class="material-icons right">archive</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align flow-text">
                First time here?
                <a href="{{ url_for('register') }}" class="yellow-text text-darken-4" >Create A New Account</a>
            </p>
        </div>
    </div>
 
</main>
{% endblock %}