{% extends "base.html" %}
{% block content %}
<main class="recipes-content">
    <h2>recipes</h2>
    <section class="container row">
        {% for category in categories %}
            <div class="col s6  m4 l3 ">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="food-img" src="{{ category.img_url }}" alt="{{ category.name }}">
                    </div>
                    <div class="card-content">
                    <span class="card-title grey-text text-darken-4">{{ category.name }}</span>
                    <p><a href="{# { url_for('') } #}">This is a link</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        
    </section>
</main>
{% endblock %}