{% extends "base.html" %}
{% block content %} 
<main class="recipes-content">

    <div class="container row">
        <h2 id="page-title" class="center-align pink-text text-darken-4">Recipe Menus</h2>
        <!-- Trigger for Add menu category modal -->
        <button class="left center-alignwaves-effect waves-light btn-large yellow darken-4 modal-trigger" data-target="add-category"><i class="material-icons left">add_box</i>Add A Menu</button>
        <a class="right center-align waves-effect waves-light btn-large yellow darken-4" href="{{ url_for('show_all_recipes') }}"><i class="material-icons right">assignment</i>View All Recipes</a>
    </div>

    <!-- Add Category Modal Structure -->
    <div id="add-category" class="modal">
        <div class="modal-content">
            <h4 class="center-align pink-text text-darken-4">Add A New Recipe Category</h4>
            <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('get_recipes') }}">    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="recipe-category" name="recipe-category" type="text" class="validate" required>
                            <label for="recipe-category">Recipe Category</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="image-url" name="image-url" type="text" class="validate" required>
                            <label for="image-url">Image URL Address</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn left waves-effect yellow darken-4  pulse" type="submit" name="add-category">Submit
                            <i class="material-icons right">send</i>
                        </button>
                        <button class="modal-close waves-effect btn-floating right btn-large red"><i class="material-icons">close</i></button>
                    </div>
                </form>
            </div>
  
        </div>
        
    </div>
    
    <section class="container row">        
        {% for category in categories2 %}
            <div class="col s12  m4 l3 ">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="food-img" src="{{ category.img_url }}" alt="{{ category.name }}">
                    </div>
                    <div class="card-content">
                    <span class="center-align card-title grey-text text-darken-4">{{ category.name }}</span>
                    <p>
                        <!-- Triggers Edit food category modal -->
                        <button class="btn-floating left btn-small waves-effect waves-light green darken-1 tooltipped modal-trigger" data-position="bottom" data-tooltip="Edit" data-target="edit{{ category.name }}"><i class="material-icons">create</i></button>
                        <!-- Triggers delete food category modal -->
                        <button class="btn-floating right btn-small waves-effect waves-light red tooltipped modal-trigger" data-position="bottom" data-tooltip="Delete" data-target="delete{{ category.name }}"><i class="material-icons">delete</i></button>
                    </p>
                    </div>
                </div>
            </div>

            <!-- Modal Structure for Edit food category -->
            <div id="edit{{ category.name }}" class="modal">
                <div class="modal-content">
                    <h4 class="center-align pink-text text-darken-4">Edit {{ category.name }} Category</h4>
                    <div class="row">
                        <form class="col s12" method="POST" action="{{ url_for('get_recipes') }}">    
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="recipe-category" name="recipe-category" type="text" value="{{ category.name }}" class="validate" required>
                                    <label for="recipe-category">Recipe Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="image-url" name="image-url" type="text" value="{{ category.img_url }}" class="validate" required>
                                    <label for="image-url">Image URL Address</label>
                                </div>
                            </div>
                            <input type="hidden" id="category_id" name="category_id" value="{{ category._id }}">
                            <div class="modal-footer">
                                <button class="btn left waves-effect yellow darken-4  pulse" type="submit" name="edit-category">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                                <button class="modal-close waves-effect btn-floating right btn-large red"><i class="material-icons">close</i></button>
                            </div>  
                        </form>
                    </div>
                </div>
            </div> <!-- /End modal-->

            <!-- Modal Structure for delete food category -->
            <div id="delete{{ category.name }}" class="modal bottom-sheet">
                <div class="modal-content">
                    <h4 class="center-align pink-text text-darken-4">Delete {{ category.name }} Category</h4>
                    <div class="row">
                        <form class="col s12" method="POST" action="{{ url_for('get_recipes') }}">    
                            <input type="hidden" id="category_id" name="category_id" value="{{ category._id }}">
                            <div class="row">
                                <div class="col s4 offset-s4">
                                    <button class="btn-large waves-effect waves-light green left" type="submit" name="delete-category">
                                        Yes <i class="material-icons right">event_available</i>
                                    </button>
                                    <button class="btn-large waves-effect waves-light red right modal-close">
                                        No <i class="material-icons right">event_busy</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /End modal-->
        
        {% endfor %}  
    </section>
</main>
{% endblock %}